*{
    margin:0;
    padding: 0;;
}
.navbar{
    display: flex;
    height: 200px;
     width: 100%;
    background-color: pink;
    justify-content: space-evenly;

    }

.tool{
    height: 200px;

}
.colors-red{
    background-color: red;
    width: 20%;
    height: 60%;
    margin-right: .25rem;
    border-radius: 50%;
}
.colors-green{
    background-color: green;
    width: 20%;
    height: 60%;
    margin-right: .25rem;
    border-radius: 50%;
}.colors-blue{
    background-color:blue;
    width: 20%;
    height: 60%;
    margin-right: .25rem;
    border-radius: 50%;
}
.pencilColour{
    background-color: orange;
    height: 4rem;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.pencilOptions{
    background-color: chartreuse;
    width: fit-content;

}
.board{
    background-color: cyan;
}
